* {
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 0 auto;
}

header {
  color: whitesmoke;
  background-color: rgb(44, 48, 62);
  display: flex;
  flex-direction: column;
  border: groove 1px black;
}

.container {
  display: flex;
  padding: 25px;
  width: 100%;
}

.container-main {
  background-color: rgb(46, 50, 39);
  color: whitesmoke;
  min-height: 400px;
  text-align: center;
  padding-top: 2em;
}

#header-text {
  font-size: 1.245em;
  width: 80%;
}

#nav-box {
  height: 100%;
  align-items: center;
  display: flex;
}

.nav-link {
  color: black;
  font-weight: 900;
  text-decoration: none;
  margin: 0.5em;
  display: flex;
  justify-content: space-evenly;
  border: solid 1px black;
  border-radius: 5px;
  padding: 0.1em 1em;
  scale: 1;
  background-image: linear-gradient(to left, #f47a00, #d9ff00);
}

.nav-link:hover,
.nav-link:focus {
  color: rgb(255, 0, 0);
  scale: 1.05;
}

.columns {
  display: flex;
  padding: 2em;
}

#col-1,
#col-2,
#col-3 {
  margin: 1em;
  width: 33%;
  border: solid 2px black;
  border-radius: 25% 25% 0 0;
  padding: 1em 2em;
  width: 33%;
}

footer {
  background-color: rgb(44, 48, 62);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: groove 1px black;
  height: 100px;
  color: whitesmoke;
  letter-spacing: 0.1em;
}

img {
  width: 100%;
  border-radius: 25% 25% 0 0;
  margin-bottom: 1em;
}

a {
  color: yellow;
}

a:hover,
a:focus {
  color: red;
}
