* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 0 auto;
}

header {
  background-color: rgb(151, 169, 231);
  display: flex;
  padding: 25px;
  justify-content: space-around;
  align-items: center;
  border: solid 3px black;
}

.navigation-box {
  list-style: none;
  padding: 1em;
  background-color: rgb(207, 255, 255);
}

a {
  text-decoration: none;
  margin: 0.5em;
}

a:hover,
a:focus {
  color: red;
  text-decoration: underline;
}
